extends ../layout

block main

    div#1 Стол №#{tab[0].id}  #{tab[0].booking}
    div#2 Стол №#{tab[1].id}  #{tab[1].booking}
    div#3 Стол №#{tab[2].id}  #{tab[2].booking}
    div#4 Стол №#{tab[3].id}  #{tab[3].booking}
    div#5 Стол №#{tab[4].id}  #{tab[4].booking}
    div#6 Стол №#{tab[5].id}  #{tab[5].booking}
    div#7 Стол №#{tab[6].id}  #{tab[6].booking}
    div#8 Стол №#{tab[7].id}  #{tab[7].booking}


    button( onclick="history.back()") Вернуться к выбору даты
